<ion-view view-title="About">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-menu "></button>
    </ion-nav-buttons>

    <ion-content scrollbar-y="false">

        <ion-slide-box style="height:100%">

            <ion-slide>
                <ion-content scrollbar-y="false" class="text-center">
                    <h3 class="help-page-header">Meet the team</h3>
                    <div class="list card">
                        <div class="item item-image">
                            <div class="help-cards">
                                <img id="profile-image" class="circle" src="img/JP.jpg">
                            </div>
                        </div>
                        <a class="item card-main-text item-text-wrap">
                            <p class="help-header">John Anthony Pecson</p>
                            <p class="help-explain">Developer</p>
                            <h6>jpecson90210@gmail.com</h6>
                        </a>
                    </div>
                    <br>

                    <div class="list card">
                        <div class="item item-image">
                            <div class="help-cards">
                                <img id="profile-image" class="circle" src="img/JB.jpg">
                            </div>
                        </div>
                        <a class="item card-main-text item-text-wrap">
                            <p class="help-header">JB Padilla</p>
                            <p class="help-explain">Graphics Designer</p>
                            <h6>jbpadilla@gmail.com</h6>
                        </a>
                    </div>
                    <br>


                    <div class="list card">
                        <div class="item item-image">
                            <div class="help-cards">
                                <img id="profile-image" class="circle" src="img/JC.jpg">
                            </div>
                        </div>
                        <a class="item card-main-text item-text-wrap">
                            <p class="help-header">JC Gersaniva</p>
                            <p class="help-explain">Photographer</p>
                            <h6>jc_digitech@yahoo.com</h6>
                        </a>
                    </div>
                    <br>

                    <div class="list card">
                        <div class="item item-image">
                            <div class="help-cards">
                                <img id="profile-image" class="circle" src="img/RT.jpg">
                            </div>
                        </div>
                        <a class="item card-main-text item-text-wrap">
                            <p class="help-header">Ryan Toledo</p>
                            <p class="help-explain">Photographer</p>
                            <h6>rhealtoledo@yahoo.com</h6>
                        </a>
                    </div>
                    <br>

            </ion-slide>


            <!--  <ion-slide>
                <ion-content scrollbar-y="false">
                    <div class="help-page-initial"><span class="help-page-icon-logo">SDK</span>
                        <h4 class="help-page-subs">Sinulog de Kabankalan 2015</h4>
                        <p class="help-page-info-text">A contest where, the player who buzzes first gets to answer first.</p>
                    </div>
                    <hr>
                    <div class="help-page-initial"><i class="icon ion-filing help-page-icon"></i>
                        <h4 class="help-page-subs">BuzzUp has a wide range of topics</h4>
                        <p class="help-page-info-text">With new topics added almost everyday there is literally a lot to buzz about.</p>
                    </div>
                    <hr>
                    <div class="help-page-initial"><i class="icon ion-compose help-page-icon"></i>
                        <h4 class="help-page-subs">You can contribute</h4>
                        <p class="help-page-info-text">You can provide questions on your strong or favourite topic or suggest a new topic.</p>
                    </div>
                    <hr>
                    <div class="help-page-initial"><i class="icon ion-android-friends help-page-icon"></i>
                        <h4 class="help-page-subs">BuzzUp is social</h4>
                        <p class="help-page-info-text">You can show of the results of a nerve wrecking round to your friends and social group.</p>
                    </div>
                    <hr>
                    <br>
                    <br>
                </ion-content>
            </ion-slide> -->


            </ion-content>
        </ion-slide-box>




    </ion-content>


</ion-view>
