<ion-view title="Wilkris Appliance">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content scrollbar-y="false">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()" pulling-icon="ion-android-arrow-up">
        </ion-refresher>
        <div class="row">
            <div class="col">
                <div ng-if="($index%2==0)" ng-repeat="product in products">
                    <div class="card topics-page-card" ng-click="viewProduct(product)">

                        <div>
                            <img ng-src="{{product.image}}" class="topics-img">

                            <div class="topic-name-topic">
                                <p>{{product.model}}</p><i class="icon ion-arrow-right-b"></i>
                            </div>
                        </div>
                    </div>


                    <p></p>
                </div>
            </div>

            <div class="col">
                <div ng-if="!($index%2==0)" ng-repeat="product in products">
                    <div class="card topics-page-card" ng-click="viewProduct(product)">
                        <div>
                            <img ng-src="{{product.image}}" class="topics-img">
                        </div>
                        <div class="topic-name-topic">
                            <p>{{product.model}}</p>
                            <i class="icon ion-arrow-right-b"></i>
                        </div>
                    </div>

                    <p> </p>
                </div>
            </div>

        </div>

        <br>

    </ion-content>
</ion-view>
