<ion-view title="Login"  hide-nav-bar="true">
  <div class="bg-image red-car-img"></div>
  <ion-content padding="true" scroll="false">
    <h1 class='login-title padding'>Love taking attendance? <br><br>Make it Fun.</h1>
    
    <div class='login-bottom'>
      <button type="button" ng-click="login('facebook')" class="button button-block button-positive">
       <i class="icon ion-social-facebook"></i> Connect with Facebook
      </button>

      <div class='small respect-privacy text-center'>We will not post anything in Facebook without your approval. </div>

      <br/>
      <div class='text-center'>
        <a ui-sref="app.home" class="forgot-password">Skip</a>
      </div>
    </div>
  </ion-content>
</ion-view>