<div class="modal" ng-controller="AddSubjectCtrl">

    <ion-header-bar class="bar bar-header bar-positive">
        <button ng-click="hideModal()" class="button button-positive button-icon ion-android-arrow-back">
        </button>
        <h1 class="title">Pick Day(s)</h1>
    </ion-header-bar>


    <ion-content>

        <ion-list>

            <ion-checkbox ng-model="day.isChecked" ng-repeat="day in days">{{day.day}}

                <div ng-repeat="d in daysFromDB" ng-if="d==day.day" ng-init="day.isChecked=true">
                </div>

            </ion-checkbox>



            <div ng-repeat="d in days" ng-if="d.isChecked" ng-init="addDay(d.day)">{{d.day}}</div>

            <div ng-repeat="d in days" ng-if="!d.isChecked" ng-init="removeDay($index)"></div>
        </ion-list>

        <p>{{selectDays.join(',')}}</p>
        <p>{{days | json}} </p>
    </ion-content>

</div>
