<ion-view view-title="New Student">
    <ion-content>

        <div class="image-container" ng-click="takePicture()">
            <img class="full-image" id="myImage" src="img/camera-en.svg">
        </div>
        <div class="list">
            <a class="item">
                Model
                <span class="item-note">{{product.model}}</span>
            </a>

            <a class="item">
                Brand
                <span class="item-note">{{product.brand}}</span>
            </a>

            <a class="item">
                Category
                <span class="item-note">{{product.category}}</span>
            </a>

            <a class="item">
                Description
                <div class="item-text-wrap item-note">
                    {{product.desc}}
                </div>
            </a>

            <a class="item">
                COD
                <span class="item-note">{{product.cod}}</span>
            </a>

            <a class="item">
                Down
                <span class="item-note">{{product.down}}</span>
            </a>

            <a class="item">
                3 mos
                <span class="item-note">{{product.three}}</span>
            </a>

            <a class="item">
                5 mos
                <span class="item-note">{{product.five}}</span>
            </a>

            <a class="item">
                11 mos
                <span class="item-note">{{product.eleven}}</span>
            </a>

            <a class="item">
                14 mos
                <span class="item-note">{{product.fourteen}}</span>
            </a>

            <a class="item">
                17 mos
                <span class="item-note">{{product.seventeen}}</span>
            </a>

            <a class="item">
                20 mos
                <span class="item-note">{{product.twenty}}</span>
            </a>

            <a class="item">
                24 mos
                <span class="item-note">{{product.twentyfour}}</span>
            </a>

            <a class="item">
                LCP
                <span class="item-note">{{product.lcp}}</span>
            </a>

        </div>
    </ion-content>
</ion-view>
