<!-- <ion-view>
    <ion-nav-bar class="bar-positive big-bar no-shadow" animation="no-animation">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="header-padding-top title">Products</h1>
    </ion-nav-bar> -->
<ion-view title="Wilkris Appliance">
    <ion-nav-buttons side="left" class="bar-positive big-bar no-shadow" animation="no-animation">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="bar-positive big-bar no-shadow" animation="no-animation" >
        <a class="button button-icon icon ion-android-add" ui-sref="app.new-product" ng-show="isLoggedIn"></a>
    </ion-nav-buttons>


    <ion-tabs class="header-padding-top tabs-striped tabs-top tabs-background-positive tabs-light tabs-top-margin has-shadow">

        <ion-tab title="BRANDS" class="tabs-title">

            <ion-content scrollbar-y="false">

                <ion-refresher refreshing-icon="ion-refreshing" on-refresh="refreshTopicsList()"></ion-refresher>

                <div class="row">
                    <div class="col">
                        <div class="card topics-page-card">
                            <div>
                                <img ng-src="img/wilkris/logo/ge.png" class="topics-img" ui-sref="app.search({searchKey: 'GE'})" ng-click="">
                            </div>
                            <div class="topic-name-topic" ui-sref="app.search({searchKey: 'GE'})" ng-click="">
                                <p>GE</p><i class="icon ion-arrow-right-b"></i>
                            </div>
                        </div>
                        <p></p>
                        <div class="card topics-page-card">
                            <div>
                                <img ng-src="img/wilkris/logo/lg.jpg" class="topics-img" ui-sref="app.search({searchKey: 'LG'})" ng-click="">
                            </div>
                            <div class="topic-name-topic" ui-sref="app.search({searchKey: 'LG'})" ng-click="">
                                <p>LG</p><i class="icon ion-arrow-right-b"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        
                        <div class="card topics-page-card">
                            <div>
                                <img ng-src="img/wilkris/logo/haier1.jpg" class="topics-img" ui-sref="app.search({searchKey: 'Haier'})" ng-click="">
                            </div>
                            <div class="topic-name-topic" ui-sref="app.search({searchKey: 'Haier'})" ng-click="">
                                <p>Haier</p><i class="icon ion-arrow-right-b"></i>
                            </div>
                        </div>

                        <p></p>

                        <div class="card topics-page-card">
                            <div>
                                <img ng-src="img/wilkris/logo/samsung.jpg" class="topics-img" ui-sref="app.search({searchKey: 'Samsung'})" ng-click="">
                            </div>
                            <div class="topic-name-topic" ui-sref="app.search({searchKey: 'Samsung'})" ng-click="">
                                <p>Samsung</p><i class="icon ion-arrow-right-b"></i>
                            </div>
                        </div>

                    </div>


                </div>
                <br>

            </ion-content>

        </ion-tab>

        <ion-tab title="CATEGORIES" class="tabs-title">

            <ion-content scrollbar-y="false">

                <div class="card topics-page-card">
                    <div>
                        <img ng-src="img/wilkris/aircon.png" class="topics-img" ui-sref="app.search({searchKey: 'Aircon'})" ng-click="">
                    </div>
                    <div class="topic-name-topic" ui-sref="app.search({searchKey: 'Aircon'})" ng-click="">
                        <p>Aircon</p><i class="icon ion-arrow-right-b"></i>
                    </div>
                </div>

                </div>



                <p></p>



                <div class="col">
                    <div class="card topics-page-card">
                        <div>
                            <img ng-src="img/wilkris/ref.png" class="topics-img" ui-sref="app.search({searchKey: 'Refrigerator'})" ng-click="">
                        </div>
                        <div class="topic-name-topic" ui-sref="app.search({searchKey: 'Refrigerator'})" ng-click="">
                            <p>Refrigerator</p><i class="icon ion-arrow-right-b"></i>
                        </div>
                    </div>

                    <p> </p>

                    <div class="card topics-page-card">
                        <div>
                            <img ng-src="img/wilkris/tv.png" class="topics-img" ui-sref="app.search({searchKey: 'Television'})" ng-click="">
                        </div>
                        <div class="topic-name-topic" ui-sref="app.search({searchKey: 'Television'})" ng-click="">
                            <p>Television</p><i class="icon ion-arrow-right-b"></i>
                        </div>
                    </div>

                    <p> </p>

                    <div class="card topics-page-card">
                        <div>
                            <img ng-src="img/wilkris/washing.png" class="topics-img" ui-sref="app.search({searchKey: 'Washing Machine'})" ng-click="">
                        </div>

                        <div class="topic-name-topic" ui-sref="app.search({searchKey: 'Washing Machine'})" ng-click="">
                            <p>Washing Machine</p><i class="icon ion-arrow-right-b"></i>
                        </div>
                    </div>


                </div>
                <br>

            </ion-content>

        </ion-tab>

        <ion-tab title="PRODUCTS" class="tabs-title">
            <ion-content scrollbar-y="false" class="tabs-space-top">

                <ion-list>

                    <ion-item class="item-remove-animate item-avatar" ng-repeat="p in products" type="item-text-wrap" ng-click="viewProduct(p)">
                        <img ng-src="{{p.image}}">
                        <h2>{{p.model}}</h2>
                        <p>{{p.desc}}</p>
                        <h6>
                      Brand: {{p.brand}} , Category: {{p.category}}
                    </h6>
                        <ion-option-button class="button-balanced" ng-click="viewProduct(p)">View
                        </ion-option-button>
                        <ion-option-button class="button-positive" ng-click="editProduct(p)" ng-show="isLoggedIn">Edit
                        </ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="deleteProduct(p)" ng-show="isLoggedIn">
                            Delete
                        </ion-option-button>
                    </ion-item>

                </ion-list>

            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
