<ion-view view-title="">

    <ion-content>
        <!--         <ion-slide-box style="height:100%">

            <ion-slide> -->
        <ion-content scrollbar-y="false">
            <!-- <h3 class="help-page-header">{{subject.subjectName}}</h3> -->

            <div class="list card text-center">
                <div class="item item-image">
                    <div class="help-cards">
                        <img id="profile-image" class="circle" src="{{student.face}}">
                    </div>
                </div>
                <a class="item card-main-text item-text-wrap">
                    <h3 class="help-header">{{student.firstName}} {{student.lastName}}</h3>
                    <p class="help-explain">{{student.course}} {{student.yearLevelSection}}</p>
                    <p class="help-explain">{{student.gender}} </p>
                </a>
            </div>


            <ion-list>
                <ion-item class="item item-avatar item-divider home-divider">
                    <i class="icon ion-ios-list card-side-icon"></i>
                    <h2 class="card-head">Subjects</h2>
                    <span class="badge badge-calm">{{subjects.length}}</span>
                </ion-item>

                <ion-item class="item-remove-animate item-icon-left" ng-repeat="subject in subjects" type="item-text-wrap" ng-click="getAttendanceInfo(subject)">
                    <!-- <img ng-src="img/{{subject.icon}}"> -->
                    <i class="icon ion-android-document item-grey"></i>
                    <h2>{{subject.subjectName}}</h2>
                    <div>{{subject.desc}}</div>
                </ion-item>

            </ion-list>

        

        </ion-content>

    </ion-content>


</ion-view>
