<style>
input[placeholder] {
    margin-left: 0px;
    color: #181818;
}
textarea {
    font-family: dosis-medium;
    color: #181818;
    font-size: 16px;
}
h3 {
    font-family: dosis-medium;
    color: #181818;
    font-size: 16px;
}
</style>
<ion-view view-title="New Subject">

    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Subject</span>
                <input type="text" placeholder="IT 101" ng-model="newSubject.subjectName">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <textarea placeholder="IT Fundamentals" ng-model="newSubject.desc"></textarea>
            </label>

            <label class="item item-input item-stacked-label item-icon-right">
                <span class="input-label">Days
                    <button class="button button-icon icon ion-android-more-horizontal" ng-click="showPickDays()"></button>
                </span>
                <input type="text" placeholder="Mon, Wed, Fri" ng-model="newSubject.sDays"></input>
                
            </label>

            <label class="item item-input item-stacked-label item-icon-right">

                <span class="input-label">From</span>
                <input type="time" placeholder="7:30 AM" id="fromTime" ng-model="newSubject.timeFrom">

                <!-- <button class="button button-icon icon ion-android-more-horizontal"></button> -->
            </label>
            <label class="item item-input item-stacked-label item-icon-right">
                <span class="input-label">To</span>
                <input type="time" placeholder="8:30 AM" id="toTime" ng-model="newSubject.timeTo">

                <!-- <button class="button button-icon icon ion-android-more-horizontal"></button> -->
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Comp Lab 2" ng-model="newSubject.location">
            </label>



            <label class="item item-icon-right">
                <select style="opacity:0; width:100%; position:absolute; z:index=100" ng-model="newSubject.category" ng-options="category.categoryName for category in categories"></select>

                <span class="input-label">Category
                    <button class="button button-icon icon ion-android-more-horizontal"></button>
                </span>
                <h3>{{newSubject.category.categoryName}}</h3>
            </label>

        </div>
        <button class="button button-block button-outline button-positive  icon-left ion-android-add" ng-click="addSubject()" ng-show="action=='create'">Add</button>
        <button class="button button-block button-outline button-positive icon-left ion-checkmark" ng-click="saveSubject()" ng-show="action=='update'">Save</button>

    </ion-content>


</ion-view>

<script id="pick-days-modal.html" type="text/ng-template">
  <div class="modal">

    <ion-header-bar class="bar bar-header bar-positive">
        <button ng-click="hidePickDays()" class="button button-positive button-icon ion-android-arrow-back">
        </button>
        <h1 class="title">Pick Day(s)</h1>
    </ion-header-bar>


    <ion-content>
        <ion-list>
            <ion-checkbox ng-model="day.isChecked" ng-repeat="day in days">{{day.day}}
                
                <div ng-repeat="selectedDay in newSubject.selectedDays" ng-if="selectedDay ==day.day" ng-init="day.isChecked=true">
                </div>
            </ion-checkbox>
            
            <div ng-repeat="day in days" ng-if="day.isChecked" ng-init="updateDay(day.day)"></div>
            <div ng-repeat="day in days" ng-if="!day.isChecked" ng-init="updateDay(day.day)"></div>

        </ion-list>
    </ion-content>

</div>

</script>
